<td>
  {{user.id}}
</td>
<td>
  {{input type="text" value=user.name}}
</td>
<td>
  {{user.score}}
</td>
<td>
  {{user.formattedCreatedAt}}
</td>
<td>
  <button class="small" {{action "updateModel" user}}>Update</button>
</td>
