<div class="header">
  {{#link-to 'guesses.guess' model}}
    {{model.id}}: {{model.userName}} was
    {{#if model.correct}}
      right!
    {{else}}
      wrong.
    {{/if}}

  {{/link-to}}
</div>
{{model.formattedCreatedAt}} on
{{#link-to 'spots.spot' model.spot}}Spot {{model.spot.id}}{{/link-to}}
in {{#link-to 'games.game' model.game}}Game {{model.game.id}}{{/link-to}} <br />
<strong>guessed at:</strong> {{model.createdAt}} <br />
<strong>location:</strong>
<a href="https://maps.google.com?q={{model.formattedLocation}}">
  {{model.formattedLocation}}
</a> <br />
<strong>distance:</strong> {{model.distance}} <br />
