<div class="header">
  {{#link-to 'spots.spot' model}}Spot {{model.id}} - {{model.formattedCreatedAt}}{{/link-to}}
</div>
<strong>Game:</strong> {{#link-to 'games.game' model.game}}Game {{model.game.id}}{{/link-to}}
<br />
<p>
  <strong>captured at:</strong> {{model.createdAt}} <br />
  <strong>location:</strong> 
  <a href="https://maps.google.com?q={{model.formattedLocation}}">
    {{model.formattedLocation}}
  </a> <br />
  <strong>guess count:</strong> {{model.guesses.length}}
</p>
