<div class="header">
  {{#link-to 'spots.spot' model}}
    {{model.id}}: Where is {{model.userName}}'s bicycle?
  {{/link-to}}
</div>
<div class="details">
  {{model.formattedCreatedAt}} in {{#link-to 'games.game' model.game}}Game {{model.game.id}}{{/link-to}}
  <br />
  <p>
    <strong>captured at:</strong> {{model.createdAt}} <br />
    <strong>location:</strong> 
    <a href="https://maps.google.com?q={{model.formattedLocation}}">
      {{model.formattedLocation}}
    </a> <br />
    <strong>guess count:</strong> {{model.guesses.length}}
  </p>
</div>
