<h2>
  {{#link-to 'spots.spot' model}}Spot {{model.id}}{{/link-to}}
</h2>

<img src="{{model.imageUrl}}" />
<p>
  <strong>captured at:</strong> {{model.createdAt}} <br />
  <strong>latitude:</strong> {{model.latitude}} <br />
  <strong>longitude:</strong> {{model.longitude}} <br />
</p>

<h3>Guesses</h3>
<ol>
{{#each guess in model.guesses}}
  <li>
    {{#link-to 'guesses.guess' model}}
      <h2>Guess {{guess.id}}</h2>
    {{/link-to}}
    <strong>captured at:</strong> {{guess.createdAt}} <br />
    <strong>latitude:</strong> {{guess.latitude}} <br />
    <strong>longitude:</strong> {{guess.longitude}} <br />
  </li>
{{/each}}
</ol>

