<h2>
  {{#link-to 'spots.spot' model}}Spot {{model.id}}{{/link-to}}
</h2>

<img src="{{model.imageUrl}}" />
<p>
  <strong>captured at:</strong> {{model.createdAt}} <br />
  <strong>latitude:</strong> {{model.latitude}} <br />
  <strong>longitude:</strong> {{model.longitude}} <br />
</p>

