<h2>
  {{#link-to 'spots.spot' model}}Spot {{model.id}} - {{model.formattedCreatedAt}}{{/link-to}}
</h2>
<strong>Game:</strong> {{#link-to 'games.game' model.game}}Game {{model.game.id}}{{/link-to}}
<br />

<img src="{{model.imageUrl}}" />
<p>
  <strong>captured at:</strong> {{model.createdAt}} <br />
  <strong>location:</strong> 
  <a href="https://maps.google.com?q={{model.formattedLocation}}">
    {{model.formattedLocation}}
  </a> <br />
</p>

<h3>Guesses</h3>
<ol>
{{#each guess in model.guesses}}
  <li>
    {{#link-to 'guesses.guess' guess}}
      <h2>Guess {{guess.id}} - {{guess.formattedCreatedAt}}</h2>
    {{/link-to}}
    <strong>guessed at:</strong> {{guess.createdAt}} <br />
    <strong>location:</strong>
    <a href="https://maps.google.com?q={{guess.formattedLocation}}">
      {{guess.formattedLocation}}
    </a> <br />
    <strong>distance from spot:</strong> {{guess.distance}} <br />
  </li>
{{/each}}
</ol>

