<img class="spot-image" src="{{model.imageUrl}}" />

{{render 'spots.partial' model}}

{{#map-plot focus=model features=model.guesses urlPrefix="guesses"}}
{{/map-plot}}

<h3>Guesses</h3>
<ol class="spot-guesses-list">
{{#each model.guesses as |guess|}}
  <li>
    {{#link-to 'guesses.guess' guess}}
      <img class="guess-image" src="{{guess.imageUrl}}" />
      <strong>{{guess.formattedCreatedAt}}</strong> <br />
      <strong>distance:</strong> {{guess.distance}}
    {{/link-to}}
  </li>
{{/each}}
</ol>

